
  <!--<li>Ativos e Materiais</li>
  <li>Chamados</li>
  <li>Servidores</li>
  <li>Reservas</li>
  <li>Documentos e Templates</li>-->


<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">Intranet</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        
        <!--<li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gerenciamento
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item active" routerLink="/organizational_units" href="#">Unidades Organizacionais</a>
            <a class="dropdown-item" routerLink="/vendors" href="#">Fornecedores</a>
            <a class="dropdown-item" href="#">Ativos</a>
            <a class="dropdown-item" href="#">Chamados</a>
            <a class="dropdown-item" href="#">Servidores</a>
            <a class="dropdown-item" href="#">Reservas</a>
          </div>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Relatórios e Modelos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item active" routerLink="/organizational_units" href="#">Unidades Organizacionais</a>
            <a class="dropdown-item" routerLink="/vendors" href="#">Fornecedores</a>
            <a class="dropdown-item" href="#">Ativos</a>
            <a class="dropdown-item" href="#">Chamados</a>
            <a class="dropdown-item" href="#">Servidores</a>
            <a class="dropdown-item" href="#">Reservas</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Mensagens <span class="badge badge-pill badge-info">15</span></a>
        </li>
      </ul>
      <!--<form class="form-inline" _lpchecked="1">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>