<div class="card">
  <div class="card-header">

      <div class="clearfix">

        <div [ngSwitch]="action">
            <div *ngSwitchCase="'view'">VISUALIZAR UNIDADE ORGANIZACIONAL</div>
            <div *ngSwitchCase="'create'">CRIAR UNIDADE ORGANIZACIONAL</div>
            <div *ngSwitchCase="'edit'">EDITAR UNIDADE ORGANIZACIONAL</div>
            <div *ngSwitchCase="'delete'">EXCLUIR UNIDADE ORGANIZACIONAL</div>            
        </div>
    </div>
    
  </div>

  <div class="card-block">

<form #f="ngForm">
    <div class="form-group row" *ngIf="action !== 'create'">
        <label for="id" class="control-label col-sm-2">Código:</label>
        <div class="col-sm-4">
            <input name="id" id="id" class="form-control form-control-sm" [disabled]="isFormDisabled()" ngModel/>
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="control-label col-sm-2">Nome:</label>
        <div class="col-sm-4">
            <input name="name" id="name" class="form-control form-control-sm" [disabled]="isFormDisabled()" ngModel required #name="ngModel"/>
            <small *ngIf="!name.valid && name.touched" class="form-text text-muted">Por gentileza, entre com um nome válido</small>
        </div>
    </div>

    <div class="form-group row"> 
        <label for="sponsor" class="control-label col-sm-2">Responsável:</label>
        <div class="col-sm-4">
            <select class="form-control form-control-sm" id="sponsor" [disabled]="isFormDisabled()" name="sponsor" ngModel #sponsor>
                <option *ngFor="let user of users" [ngValue]='user.id'>{{user.username}}</option>                
            </select>            
        </div>
    </div>

    <div class="form-group row"> 
        <label for="watchers" class="control-label col-sm-2">Interessados:</label>
        <div class="col-sm-2">
            <input class="form-control form-control-sm" [disabled]="isFormDisabled()"/>
            <button (click)="onSelectedToTheRight()" class="btn btn-primary form-control btn-sm" [disabled]="isFormDisabled()">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            <select multiple class="form-control form-control-sm" id="watchers" [disabled]="isFormDisabled()" name="leftSelect" ngModel #watchers>
                <option *ngFor="let user of users" [ngValue]='user.id'>{{user.username}}</option>                
            </select>            
        </div>
        <div class="col-sm-2">
            <input class="form-control form-control-sm" [disabled]="isFormDisabled()"/>
            <button (click)="onSelectedToTheLeft()" class="btn btn-primary form-control btn-sm" [disabled]="isFormDisabled()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>      
            <select multiple class="form-control form-control-sm" [disabled]="isFormDisabled()" name="rightSelect" ngModel>
                <option *ngFor="let u of selectedUsers" [ngValue]='u.id'>{{u.username}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row"> 
        <div class="col-sm-offset-2 col-sm-10">
            <button (click)="onSubmit(f)" *ngIf="action === 'delete'" class="btn btn-primary btn-sm">Delete</button>
            <button (click)="onSubmit(f)" [disabled]="!f.valid"*ngIf="action === 'create' || action === 'edit'" class="btn btn-primary btn-sm">Save</button>
            <button routerLink="/organizational_units" *ngIf="action !== 'view'" class="btn btn-default btn-sm">Cancelar</button>
            <button routerLink="/organizational_units" *ngIf="action === 'view'" class="btn btn-default btn-sm">Voltar</button>
        </div>
    </div>
</form>

</div>
</div>