<div class="card">
  <div class="card-header">

      <div class="clearfix">
        LISTA DE UNIDADES ORGANIZACIONAIS
        <button [routerLink]="['/organizational_unit', 'create']" class="btn btn-secondary btn-sm float-right"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Unidade Organizacional</button>
    </div>
    
  </div>

  <div class="card-block">
    

<table *ngIf="ous.length > 0; else zeroElementMessage" class="table table-striped table-bordered table-sm">
    <thead>
        <tr class="container">
            <td class="text-center" style="width:10%">ID 
                <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
                <i class="fa fa-sort-numeric-asc" aria-hidden="true" *ngIf="false"></i>
                <br/><input class="form-control form-control-sm text-center"/>
            </td>
            <td class="text-center" style="width:80%">
                NOME
                <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true" *ngIf="false"></i>
                <br/><input class="form-control form-control-sm text-center"/>
            </td>
            <td class="text-center">AÇÕES</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of ous">
            <td class="text-center">{{o.id}}</td>
            <td class="text-center">{{o.name}}</td>
            <td class="text-center">                
                <button [routerLink]="['/organizational_unit', o.id, 'view']" class="btn btn-primary btn-sm"><i [routerLink]="['/organizational_unit', o.id, 'view']" class="fa fa-search" aria-hidden="true"></i></button>
                <button [routerLink]="['/organizational_unit', o.id, 'edit']" class="btn btn-success btn-sm"><i [routerLink]="['/organizational_unit', o.id, 'view']" class="fa fa-pencil" aria-hidden="true"></i></button>
                <button [routerLink]="['/organizational_unit', o.id, 'delete']" class="btn btn-danger btn-sm"><i [routerLink]="['/organizational_unit', o.id, 'view']" class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #zeroElementMessage>Não existem unidades organizacionais cadastradas</ng-template>
  </div>

  <div class="card-footer">
    <nav>
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
  </div>
</div>